body {
    margin: 0;
    height: 100%;
}

body p {
    font-family: arial;
    color: white;
    font-size: 25px;
    margin-left: 2%;
    margin-right: 5%;
    text-align: justify;
}

body a {
    text-decoration: none;
    color: inherit;  
}

.contenedor_encabezado ul {
    text-align: right;
}

.contenedor_encabezado li {
    font-family: arial;
    display: inline;
    margin-right: 100px;
    color: white;
    font-size: 30px;
}

.contenedor_encabezado li a {
    text-decoration: none;
    color: inherit;  
}

li a:hover {
    text-decoration: underline;
}

.contenedor_encabezado {
    background-color: #00b32d;
    display: flex;
    flex-direction: row;
    align-items: center;
    /*justify-content: space-evenly;*/
}

.bandera {
    height: 50px;
    width: 75px;
    padding-right: 75px;
}

.logo_encabezado {
    height: auto;
    width: 500px;
}

.contenedor_logo {
    display: flex;
    margin-right: 5%;
}

.contenedor_navegacion {
    display: flex;
    align-items: center;
    margin-right: 10%;
}

.contenedor_idiomas {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

h1 {
    font-family: arial;
    color: white;
    font-weight: bold;
    font-size: 50px;
    margin-left: 2%;
}

.servicio_texto {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.servicio_imagen {
    display: flex;
    width: 50%;
    overflow: hidden;
}

.servicio_imagen img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.boton_formulario {
    font-size: 30px;
    font-family: arial;
    font-weight: bold;
    border: 2px solid white;
    display: inline;
    padding: 10px;
    width: fit-content;
}

.boton_formulario:hover {
    background-color: white;
    color: black;
}

.separador {
    display: flex;
    height: 100px;
    background-color: #00851f;
    align-items: center;
}

.contenido_pagina {
    display: flex;
    flex-direction: column;
}

.servicio {
    background-color: #404040;
    display: flex;
    flex-direction: row;
    height: 450px;
}

.direccion {
    display: flex;
    width: 50%;
    align-items: center;
}

.servicio ul {
    list-style-type: square;
    font-family: arial;
    color: white;
    font-size: 25px;
    margin-left: 5%;
}

.servicio li {
    margin-bottom: 2%;
}